.fa-star {
  margin: 0.5em;
  font-size: 24px;
}

span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: #ddd;
  color: #ccc;
  cursor: not-allowed;
  font-size: 22px;
  width: 30px;
  margin: 0.5em;
  border-radius: 50%;
}

.used {
  background-color: #aaddaa;
  color: #99bb99;
  font-size: 22px;
  width: 30px;
  margin: 0.5em;
  border-radius: 50%;
  cursor: not-allowed;
}

#stars-frame, #answer-frame {
  width: 40%;
  float: left; }
  #stars-frame .well, #answer-frame .well {
    height: 200px; }

#button-frame {
  width: 20%;
  float: left;
  text-align: center;
  margin-top: 50px; }

#numbers-frame .number, #answer-frame .well span {
  display: inline-block;
  width: 30px;
  margin: 0.5em;
  background-color: #bbb;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer; }